.nav-link:hover {
    opacity: 1;
}

.nav-link::before
{
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
}

.navbar-brand 
{
    width: 20%;
}

.nav-link 
{
    font-size: 1.5rem;
    /* font-size: 20px; */
}

.nav-item 
{
    padding: 2rem;
}
