.product-metabox 
{
    width: 100%;
    box-sizing: border-box;
}

.product-metabox__d-flex
{
    display: flex;
    flex-direction: column;
}
.custom_field
{
    margin: 0 0 1rem;
    width: 100%;
}

#your-profile label + a, label {
    display: block;
}
.regular-text {
    border-style: none;
    background-color: #f1f1f1;
}

table.dataTable 
{
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table th:nth-child(2n) {
    background: silver;
}
